.scroll-to-next {
  cursor: pointer;
  padding-top: 50rem;

  .fa-rotate-270 {
    margin: 2rem;
    font-size: 2rem;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
