.home_without_nav {
  display: flex;
      flex: 0 1 auto;

  .content_grid {
    flex: auto;
    position: relative;
  }

  .home_content {
    position: absolute;
    bottom: 0rem;
    right: 0rem;


    .flip_avatar {
      width: 16rem;
      height: 16rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .flip_avatar_container {
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-perspective: 200rem;
      -moz-perspective: 200rem;
      -ms-perspective: 200rem;
      -o-perspective: 200rem;
      perspective: 200rem;
    }

    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .front {
      overflow:hidden;
      z-index:900;
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
	    -webkit-transform-style: preserve-3d;
	    -webkit-backface-visibility: hidden;
      -moz-transform: rotateX(0deg) rotateY(0deg);
    	-moz-transform-style: preserve-3d;
	    -moz-backface-visibility: hidden;
      -o-transition: all .4s ease-in-out;
    	-ms-transition: all .4s ease-in-out;
    	-moz-transition: all .9s ease-in-out;
    	-webkit-transition: all .4s ease-in-out;
	    transition: all .9s ease-in-out;
    }

    .active .front {
	    -webkit-transform: rotateY(180deg);
	    -moz-transform: rotateY(180deg);
    }

    .back {
      background-repeat: no-repeat;
      background-position:90% 93%;
      z-index:800;
      -webkit-transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-transform: rotateY(-179deg);
      -moz-transform-style: preserve-3d;
      -moz-backface-visibility: hidden;
      -o-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -moz-transition: all .9s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .9s ease-in-out;
    }

    .active .back {
	    z-index: 1000;
	    -webkit-transform: rotateX(0deg) rotateY(0deg);
	    -moz-transform: rotateX(0deg) rotateY(0deg);
    }

  }

  .end {
    padding-left: 7rem;
  }

  .scroll_next {
    font-size: 2rem;
    bottom: 0rem;
    margin: 4rem;
    padding: 10rem;
  }

  h2 {
    text-align: right;
  }

  img {
    border-radius: 50%;
    border: 0.8rem solid white;

  }

}
