header {
  position: fixed;
  top: 0rem;
  right: -30rem;
  float:right;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }

  .menu_About {
    background-color: transparent;
    margin: 2.5rem;
    font-size: 2rem;
  }

  .menu_Projects {
    background-color: transparent;
    margin: 2.5rem;
    font-size: 2rem;
  }

  .menu_Contact {
    background-color: transparent;
    margin: 2.5rem;
    font-size: 2rem;
  }

  .menu_icon {
    background-color: transparent;
    margin: 2rem;
    margin-top: 1.8rem;
    font-size: 2rem;
  }

  #arrow {
    background-color: transparent;
  }

}
