.projects_page {
  display: flex;
      flex: 0 1 auto;

  .content_grid {
    flex: auto;
  }

  .projects_container {
    display: flex;
    flex-wrap: wrap;

    a {
     color: black;
    }
    
  }


  .end {
    padding-left: 7rem;
  }
}
